In [161]:
import pandas as pd
import os
import json

In [1]:
#os.getcwd()

In [162]:
df_wine = pd.read_csv('wine-ratings-small.csv')

df_wine.head(3)

,Unnamed: 0,name,grape,region,variety,rating,notes
0,0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
1,1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
2,2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90.0,"A very attractive fruit bouquet yields apple, ..."

In [ ]:
##### checking data in the dataset

In [65]:
df_wine.size

5460

In [66]:
df_wine.region.unique()[:10]

array(['Kamptal, Austria', 'Austria',
       'El Dorado, Sierra Foothills, California',
       'Sierra Foothills, California', 'California',
       'Knights Valley, Sonoma County, California',
       'Napa Valley, California', 'Chateauneuf-du-Pape, Rhone, France',
       'Gigondas, Rhone, France', 'Rasteau, Rhone, France'], dtype=object)

In [191]:
mask1=df_wine.loc[:,"region"] == 'France'
mask2=df_wine.loc[:,"rating"] <= 89.0

df_wine.rating.dtype

dtype('float64')

In [68]:
df_wine.variety.unique()

array(['White Wine', 'Red Wine', 'Sparkling & Champagne', 'Pink and RosÃ©',
       nan, 'Collectible'], dtype=object)

In [93]:
df_wine.grape.unique()

array([nan])

In [69]:
df_wine.rating.unique()

array([90., 88., 89., 91., 93., 92., 97., 96., 95., 94., 98., 99., 86.,
       87., 85.])

In [163]:
df_wine.region.dtype

dtype('O')

In [71]:
df_wine.region=df_wine.region.astype("string")
df_wine.region.dtype

string[python]

In [164]:
df_wine[df_wine["region"].str.contains(pat='Portugal')]

,Unnamed: 0,name,grape,region,variety,rating,notes
72,72,Lavradores de Feitoria Tres Bagos 2003,NaN,Portugal,Red Wine,86.0,NaN
73,73,Lavradores de Feitoria Tres Bagos 2004,NaN,Portugal,Red Wine,89.0,Produced from grapes from three different subr...
285,285,Leacock's 10 Year Bual Madiera,NaN,Portugal,NaN,88.0,"Clear, amber colour with golden highlights. A ..."
286,286,Leacock's Bual 1966,NaN,Portugal,Collectible,92.0,"Clear, amber colour with golden highlights and..."
287,287,Leacock's Rainwater Madeira,NaN,"Madeira, Portugal",NaN,90.0,Made from Tinta Negra Mole grapes collected fr...

In [165]:
df_wine[df_wine["region"].str.contains(pat='Spain')]

,Unnamed: 0,name,grape,region,variety,rating,notes
82,82,Layer Cake Garnacha 2011,NaN,Spain,Red Wine,90.0,"Our Layer Cake Garnacha from Calatayud, Spain ..."
534,534,Legaris Crianza 2005,NaN,"Ribera del Duero, Spain",Red Wine,90.0,A wine made with 100% Tinta Fina variety. Its ...
535,535,Legaris Crianza 2009,NaN,"Ribera del Duero, Spain",Red Wine,90.0,Deep garnet red with hues of the same color. H...
536,536,Legaris Crianza 2010,NaN,"Ribera del Duero, Spain",Red Wine,90.0,A very intense picota cherry red with violet h...
537,537,Legaris Crianza 2012,NaN,"Ribera del Duero, Spain",Red Wine,90.0,Very intense picota cherry red with violet hue...

In [ ]:
################################################### Conditions

In [166]:
region="Italy"
variety="White"
rating= 91.0

In [167]:
mask3=(df_wine.region.str.contains(pat=region)) & (df_wine.variety.str.contains(variety)) & (df_wine.rating > rating) & (df_wine.variety.notnull())

In [92]:
#df_wine[(df_wine["region"].str.contains(pat='Italy')) & (df_wine.variety.str.contains("White")) & (df_wine.rating > 91.0)]

In [168]:
df_filtered=df_wine[mask3]
df_filtered

,Unnamed: 0,name,grape,region,variety,rating,notes
153,153,Le Due Terre Colli Orientali del Friuli Sacris...,NaN,"Friuli-Venezia Giulia, Italy",White Wine,95.0,Bright straw yellow. Intense and persistent fl...
203,203,Le Macchiole Paleo Bianco 2015,NaN,"Tuscany, Italy",White Wine,93.0,"1991 born the first Paleo Bianco, a very small..."
204,204,Le Macchiole Paleo Bianco 2016,NaN,"Tuscany, Italy",White Wine,93.0,This blend features a Mediterranean character ...
205,205,Le Macchiole Paleo Bianco 2017,NaN,"Tuscany, Italy",White Wine,92.0,"Paleo Bianco today is a silky, mineral-driven ..."
655,655,Les Cretes Valle d'Aosta Chardonnay 2010,NaN,Italy,White Wine,92.0,Valle d'Aosta Chardonnay is a lovely yellow. T...
656,656,Les Cretes Valle d'Aosta Cuvee Bois Chardonnay...,NaN,"Valle d'Aosta, Italy",White Wine,94.0,The opening to the nose ranges from banana to ...

In [169]:
df_filtered=df_filtered[['name','region','variety','rating']]
df_filtered

,name,region,variety,rating
153,Le Due Terre Colli Orientali del Friuli Sacris...,"Friuli-Venezia Giulia, Italy",White Wine,95.0
203,Le Macchiole Paleo Bianco 2015,"Tuscany, Italy",White Wine,93.0
204,Le Macchiole Paleo Bianco 2016,"Tuscany, Italy",White Wine,93.0
205,Le Macchiole Paleo Bianco 2017,"Tuscany, Italy",White Wine,92.0
655,Les Cretes Valle d'Aosta Chardonnay 2010,Italy,White Wine,92.0
656,Les Cretes Valle d'Aosta Cuvee Bois Chardonnay...,"Valle d'Aosta, Italy",White Wine,94.0

In [ ]:
##Use pandas to_json to create file

In [170]:
df_filtered.to_json('wine_Italy.json')

In [ ]:
############################################### New Conditions

In [186]:
region="Washington"
variety="White"
rating= 90

mask4=(df_wine.region.str.contains(pat=region)) & (df_wine.variety.str.contains(variety)) & (df_wine.rating < rating) & (df_wine.variety.notnull())

df_filtered=df_wine[mask4]
df_filtered

,Unnamed: 0,name,grape,region,variety,rating,notes
323,323,L'Ecole 41 Chardonnay 2004,NaN,"Columbia Valley, Washington",White Wine,87.0,"""The structure and backbone of this wine comes..."
326,326,L'Ecole 41 Chardonnay 2008,NaN,"Columbia Valley, Washington",White Wine,88.0,This elegantly balanced Chardonnay shows robus...
334,334,L'Ecole 41 Chardonnay 2018,NaN,"Columbia Valley, Washington",White Wine,89.0,This classic Chardonnay offers an inviting mix...
390,390,L'Ecole 41 Semillon 2010,NaN,"Columbia Valley, Washington",White Wine,87.0,Remarkably brilliant with vibrant fruit and ba...
394,394,L'Ecole 41 Semillon 2015,NaN,"Columbia Valley, Washington",White Wine,89.0,"Rich with vibrant fruit and balanced acidity, ..."

Index(['name', 'region', 'variety', 'rating'], dtype='object')

In [188]:
df_filtered=df_filtered[['name','region','variety','rating']]
df_filtered

,name,region,variety,rating
323,L'Ecole 41 Chardonnay 2004,"Columbia Valley, Washington",White Wine,87.0
326,L'Ecole 41 Chardonnay 2008,"Columbia Valley, Washington",White Wine,88.0
334,L'Ecole 41 Chardonnay 2018,"Columbia Valley, Washington",White Wine,89.0
390,L'Ecole 41 Semillon 2010,"Columbia Valley, Washington",White Wine,87.0
394,L'Ecole 41 Semillon 2015,"Columbia Valley, Washington",White Wine,89.0

In [ ]:
############# creating dictionary from the dataset

In [189]:
dict1 = {}
keys=list(df_filtered.columns)

for ii in keys:
    dict1[ii]=list(df_filtered[ii]) ## make it a list if not error!!

dict1

{'name': ["L'Ecole 41 Chardonnay 2004",
  "L'Ecole 41 Chardonnay 2008",
  "L'Ecole 41 Chardonnay 2018",
  "L'Ecole 41 Semillon 2010",
  "L'Ecole 41 Semillon 2015"],
 'region': ['Columbia Valley, Washington',
  'Columbia Valley, Washington',
  'Columbia Valley, Washington',
  'Columbia Valley, Washington',
  'Columbia Valley, Washington'],
 'variety': ['White Wine',
  'White Wine',
  'White Wine',
  'White Wine',
  'White Wine'],
 'rating': [87.0, 88.0, 89.0, 87.0, 89.0]}

In [190]:
## use dump to create json file

In [185]:
with open('wine_washington.json','w') as f:
    json.dump(dict1,f, indent=2)